workspace/00 - starthere/*
workspace/01 - decompressed/*
workspace/07 - romfiles/*
workspace/08 - romfolders/*
workspace/09 - boxart downloads/*
workspace/99 - decompressed/*
workspace/cdnboxready/*
workspace/cdnready/*
public/boxart/*
!public/boxart/vb
!public/boxart/pce
!public/boxart/sms
!public/boxart/jag
!public/boxart/vect
!public/boxart/lynx
!public/boxart/wsx
!public/boxart/gen
!public/boxart/gb