extends layout

block content

	label system id (a7800): 
	input#system
	br
	label boxart term ([title] genesis box):
	input#term
	br
	label delay in getboxart:
	input#delay
	br
	br
	button(onclick='$("#decompress").text("working");$.get("/decompress?system=" + $("#system").val(), function() { $("#decompress").text("complete"); })') decompress
	span#decompress
	br
	br
	button(onclick='$("#romfolders").text("working");$.get("/romfolders", function() { $("#romfolders").text("complete"); })') rom folders 
	span#romfolders
	br
	br
	button(onclick='$("#clearromfolders").text("working");$.get("/clearromfolders", function() { $("#clearromfolders").text("complete"); })') clear rom folders 
	span#clearromfolders
	br
	br
	button(onclick='$("#datafile").text("working");$.get("/datafile?system=" + $("#system").val(), function() { $("#datafile").text("complete"); })') datafile 
	span#datafile
	br
	br
	button(onclick='$("#getboxart").text("working");$.get("/getboxart?delay=" + $("#delay").val() + "&system=" + $("#system").val() + "&term=" + $("#term").val() + "&lower=400&override=" + $("#overridebox").is(":checked"), function() { $("#getboxart").text("complete"); })') getboxart (domestic)
	button(onclick='$("#getboxart").text("working");$.get("/getboxart?delay=" + $("#delay").val() + "&system=" + $("#system").val() + "&term=" + $("#term").val() + "&lower=250&upper=400&override=" + $("#overridebox").is(":checked"), function() { $("#getboxart").text("complete"); })') getboxart (foreign)
	button(onclick='$("#getboxart").text("working");$.get("/getboxart?delay=" + $("#delay").val() + "&system=" + $("#system").val() + "&term=" + $("#term").val() + "&lower=250&override=" + $("#overridebox").is(":checked"), function() { $("#getboxart").text("complete"); })') getboxart (all)
	span#getboxart
	br
	div
		input(type="checkbox")#overridebox
		span Override existing downloaded box art
	br
	button(onclick='$("#thegamesdb").text("working");$.get("/thegamesdb?system=" + $("#system").val() + "&update=all", function() { $("#thegamesdb").text("complete"); })') thegamesdb 
	span#thegamesdb
	br
	br
	button(onclick='window.open("/boxart/" + $("#system").val(), "_blank")') open box art
	br
	br
	button(onclick='$("#boxartdatafile").text("working");$.get("/datafile/boxart?system=" + $("#system").val(), function() { $("#boxartdatafile").text("complete"); })') box art datafile
	span#boxartdatafile
	br
	br
	button(onclick='$("#cdnreadyboxes").text("working");$.get("/cdnboxready/" + $("#system").val(), function() { $("#cdnreadyboxes").text("complete"); })') cdnready boxes
	span#cdnreadyboxes
	br
	br
	button(onclick='$("#cdnready").text("working");$.get("/cdnready?system=" + $("#system").val() + "&source=decompressed", function() { $("#cdnready").text("complete"); })') cdnready roms
	span#cdnready
	br
	br
	label cdn box version (2.0.2):
	input#cdnboxversion
	br
	button(onclick='$("#uploadboxestodropbox").text("working");$.get("/dropbox/boxes?system=" + $("#system").val() + "&version=" + $("#cdnboxversion").val(), function() { $("#uploadboxestodropbox").text("complete"); })') upload boxes to dropbox
	span#uploadboxestodropbox
	br
	br
	label cdn roms version (2.0.3):
	input#cdnromsversion
	br
	button(onclick='$("#uploadromstodropbox").text("working");$.get("/dropbox/roms?system=" + $("#system").val() + "&version=" + $("#cdnromsversion").val(), function() { $("#uploadromstodropbox").text("complete"); })') upload roms to dropbox
	span#uploadromstodropbox
